@import 'reset.scss';


@import 'prismjs/themes/prism.css';

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  //background: none !important;
  background: #f5f4fd !important;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  line-height: 23px;

  & > * {
    grid-column: 2 / -2;
  }

  header {
    //grid-column: 1 / -1;
    // Photo by Karsten Würth (@inf1783) on Unsplash
    //background: #fdbc9a url('../../public/assets/images/venice-italy.jpg')
    //  no-repeat center;
    background-size: cover;
    //height: 50px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 20px;
    //display: flex;
    //justify-content: start;
    //align-items: center;
    //text-align: left;

    h1 {
      font-size: 1.5rem;
      //font-weight: normal;
      //padding-right: 0rem;
      //margin: 0;
      //padding: 0;
    }
  }

  footer {
    border-top: 1px solid #ccc;
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
  }
}

span.number {
  &.positive {
    color: inherit;
  }
  &.negative {
    color: darkred;
  }
}

blockquote {
  border-left: 4px solid darken(#f5f4fd, 10);
  background-color: #f5f4fd;
  border-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.8rem 1rem 0.8rem 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  //color: #36367d;
}

.q {
  background-color: #f5f4fd;
  text-decoration: 2px underline darken(#f5f4fd, 10);
  font-style: italic;
}

code {
  font-family: monospace;
  background-color: #fbeef6;
  color: #3a0000;
  padding: 0.2rem 0.3rem;
  border-radius: 0.2rem;
}

td {
  border-top: 1px solid gray;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
th {
  //border-bottom: 1px solid gray;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


tr.header {
  text-align: left;
}

.modest {
  font-size: small;
  color: lighten(#222, 10)
}
